.theme {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    transition: all 0.5s ease;
}

.theme:hover {
    background-color: #FF5722;
    color: black;
    border-color: #FF5722;
}