header {
    display: flex;
    gap: 20px;
    background: rgb(12, 108, 34);
    padding: 5px 10px;
    border-radius: 10px;
}

.icon {
    width: 50px;
}

.navbar {
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.navbar a {
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    transition: 0.3s ease-in-out;
}

.navbar a:hover {
    color: rgb(158, 158, 255);
    transform: scale(1.09);
}

.buttons {
    display: flex;
    gap: 10px;
}

#btn {
    border: 1px solid rgb(3, 50, 170);
    padding: 0 10px;
    margin: 10px 5px;
    background: transparent;
    border-radius: 5px;
    color: black;
    transition: 0.3s ease-in-out;
}

#btn:hover {
    background: rgb(3, 50, 170);
    color: rgb(158, 158, 255);
    transform: scale(1.09);
}