.navbar {
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.navbar a {
    padding: 5px 10px;
    border: 1px solid rgb(105, 105, 172);
    border-radius: 5px;
    color: black;
    transition: 0.5s ease;
}

.navbar a:hover {
    background: rgb(105, 105, 172);
    color: rgb(158, 158, 255);
}