.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    z-index: 1000;
    width: 400px;
    border: 1px solid #FF5722;
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.3);
    color: white;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    animation: modalPopIn 0.3s ease forwards;
}

@keyframes modalPopIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.close-btn {
    background: transparent;
    border: none;
    color: #888;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    line-height: 1;
}

.close-btn:hover {
    color: #FF5722;
}

.modal-content {
    font-size: 1.1rem;
    color: #ccc;
    opacity: 0;
    animation: textFadeIn 0.8s ease forwards 0.3s;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    color: white;
    background-color: #1a1a1a;
    font-family: 'Rajdhani', sans-serif;
}

.modal-content a {
    color: #FF5722;
    text-decoration: none;
    transition: 0.3s;
}

.modal-content a:hover {
    color: #FF3D00;
}

.modal-btn {
    padding: 10px 20px;
    background: linear-gradient(45deg, #FF5722, #FF3D00);
    color: white;
    border: none;
    font-family: 'Orbitron';
    font-size: 1rem;
    font-weight: bold;
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.6);
    border-radius: 0;
}

@keyframes textFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}