.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
}

.hero h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    color: white;
    animation: float 3s ease-in-out infinite;
    font-weight: 600;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.glitch-text {
    color: #FF5722;
    position: relative;
    display: inline-block;
}

.glitch-text::before,
.glitch-text::after {
    content: 'BEAST';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #050505;
}

.glitch-text::before {
    left: 2px;
    text-shadow: -1px 0 red;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-1 2.5s infinite linear alternate-reverse;
}

.glitch-text::after {
    left: -2px;
    text-shadow: -1px 0 blue;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip: rect(20px, 9999px, 10px, 0);
    }

    100% {
        clip: rect(50px, 9999px, 80px, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip: rect(90px, 9999px, 100px, 0);
    }

    100% {
        clip: rect(10px, 9999px, 60px, 0);
    }
}

.hero p {
    font-size: 1.2rem;
    color: #888;
    margin: 20px 0 40px;
    letter-spacing: 1px;
}

.cta-btn {
    padding: 15px 50px;
    background: linear-gradient(45deg, #FF5722, #FF3D00);
    color: white;
    border: none;
    font-family: 'Orbitron';
    font-size: 1.2rem;
    font-weight: bold;
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.6);
    border-radius: 0;
}

.cta-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(255, 87, 34, 0.6);
    letter-spacing: 2px;
}

.brands-strip {
    background: #111;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.brands-strip .pro {
    color: #444;
    font-weight: bold;
    font-family: 'Orbitron';
    font-size: 1.5rem;
    transition: 0.5s;
}

.brands-strip .pro:hover {
    color: #6e6e6e;
    font-weight: bold;
    font-family: 'Orbitron';
    font-size: 1.5rem;
}